/* line 4, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/sitemap.scss */
.sitemap-container {
  padding: 0 30px 0 30px; }
  /* line 6, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/sitemap.scss */
  .sitemap-container h1, .sitemap-container h2, .sitemap-container h3, .sitemap-container h4, .sitemap-container h5, .sitemap-container h6 {
    font-family: "proxima-nova-condensed"; }
  /* line 10, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/sitemap.scss */
  .sitemap-container .thin {
    /*font-family: $font-proxima-nova-extra-condensed;*/ }
  /* line 14, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/sitemap.scss */
  .sitemap-container .column {
    float: left;
    padding-right: 100px; }
    /* line 17, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/sitemap.scss */
    .sitemap-container .column ul {
      padding: 0 0 0 20px;
      list-style: none; }
      /* line 21, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/sitemap.scss */
      .sitemap-container .column ul li {
        color: #161b8e;
        padding: 5px 0 5px 0; }
        /* line 24, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/sitemap.scss */
        .sitemap-container .column ul li small {
          color: black !important; }
  /* line 31, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/sitemap.scss */
  .sitemap-container .column-thin {
    width: 156px; }
  /* line 35, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/sitemap.scss */
  .sitemap-container .column-wide {
    width: 370px; }
